p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: arial;
}
img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
}


.inbox {
  margin: 20px;
  width:  400px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.title {
  font-size: 14px;
  color: rgb(120, 120, 120);
}

.flexbox-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.email {
  margin-left: 10px;
}

.flexbox-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.theme {
  margin-bottom: 5px;
  font-weight: bold;
}

.description {
  color: rgb(120, 120, 120);
}

.time {
  font-size: 14px;
  color: rgb(120, 120, 120);
}